*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-width: 100vw;
}

::-moz-selection{
    color: #fff;
    background: #0000ff;
}

::selection{
    color: #fff;
    background: #0000ff;
}

.link, .link::after{
    color: #0000ff;
    text-decoration: underline;
}
/* ====================== nav ====================== */

nav {
    padding: 20px 50px;
    /* min-width: 550px; */
    width: 100%;
}

nav > ul{
    display: flex;
    justify-content:center;

    gap: 3em;    
}

nav > ul > li{
    color: blue;
}

.nav-link > a{
    text-decoration: none;
}

.nav-link > a:hover{
    text-decoration: underline;
}

/* ====================== Home ==================== */

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin: 2em; */
    width: 100%;
    max-width: 1200px;
    padding: 2em;
}

.intro-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2em;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5em;
    max-width: 750px;
}

.about{
    line-height: 1.5em;
    text-justify:inter-word;
}

.title {
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

span.name{
    font-style: italic;
}

.mario-div{
    text-align: center;
}